
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paws Hunger</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <style media="screen">
      body{
        background-color:#F3E9DC;
        font-family: 'Poppins', sans-serif;
      }
      nav{
        background-color:#F3E9DC;

      }
      hr{
        padding: 0 !important;
        margin: 0 !important;
      }
      .intro-left{
        text-align: justify;
        padding-top: 5%;
      }
      .intro-right{
        padding-top: 6%;
      }
      .header{
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 48px;
      }
      .header1{
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 48px;
        margin-top: 3%;
        text-align: center !important;
        
      }
      .responsive {
  width: 70%;
  height: auto;
  margin-left: -5% !important;
}
.responsive1 {
  width: 72%;
  height: auto;
  
}
.responsive2{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  top: -10% !important;
}
.intro{
  padding-left: 2%;
  padding-right: 2%;
}
.intro-para{
  font-size: 20px;
}
.about{
  text-align: justify;
}
.about-content{
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 6%;
  padding-right:6%;
}
.footer{
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
:active, :hover, :focus {
  outline: 0!important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: "";
}

.btn-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 10px auto 35px;
}
.btn {
  position: relative;
  display: inline-block;
  width: auto; height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 150px;
}
  .btn span {         
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0; left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
  }
  .btn.hover-border-2::before,
.btn.hover-border-2::after {
  width: 10%; height: 25%;
  transition: 0.35s;
}
.btn.hover-border-2::before {
  bottom: 0; left: 0;
  border-left: 1px solid rgb(28, 31, 30);
  border-bottom: 1px solid rgb(28, 31, 30);
}
.btn.hover-border-2::after {
  top: 0; right: 0;
  border-right: 1px solid rgb(28, 31, 30);
  border-top: 1px solid rgb(28, 31, 30);
}
.btn.hover-border-2:hover::before,
.btn.hover-border-2:hover::after {
  width: 99%;
  height: 99%;
}
.btn-3 {
  padding: 5px;
}
.btn-3 span {
  color: rgb(255, 255, 255);
  background-color: rgb(54, 56, 55);
}
.btn-3::before,
.btn-3::after {
  background: transparent;
  z-index: 2;
}

      

      </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="logo.png" alt="" width="50" height="50" class="d-inline-block align-text-top">

        </a>

        <a class="navbar-brand" href="/" style="font-family: 'Oleo Script', cursive;font-size: 1.8rem;">Paws Hunger</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left:20% !important;">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/help">I need you</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/nearmap">Find a Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/community">Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/donation">Donate</a>
            </li>

          </ul>
          <form class="d-flex" role="search">

            <button class="btn btn-outline-success" style="background-color: black; "><a href="/sign" style="text-decoration: none; color: white;"> Join Us</a></button>
          </form>
        </div>
      </div>
    </nav>
    <hr style="height:12px;">

    <!-- Introduction -->

    <div class="container text-center intro">
      <div class="row ">
        <div class="col-sm-6 intro-left">
          <p class="header">Help me find a </p>
          <div class="container" >
          <img src="home.png" alt="" class="responsive">
        </div>
          <p class="intro-para" >We provide a platform for everyone to be able to give back to their stray best friends in a simple, time-saving way while getting recognized for it with certificates and more.</p><br>
         <a href="/form"> 
         <button class="btn btn-3 hover-border-2">
         <span>REGISTER A STRAY</span>
         </button>
        </a>
        <button class="btn btn-3 hover-border-2" type="submit"> <span>Adopt and Help</span> </button>
        </div>
        
        <div class="col-sm-6 intro-right">
          <img src="head.png" alt="" class="responsive1" >
        </div>

      </div>
    </div>
    <hr style="margin-top: 4% !important;">
    
    
    <!-- About Us -->

    <div class="container-fluid about">
     <p class="header1" >About us</p>
     <div class="about-content">
      <p >We are a youth-driven organization founded in July 2020. We started off as a platform for stray animal feeders across India, while also motivating others to start feeding strays in their neighborhood with incentives such as certificates. In just a few months, the Paws Hunger family grew to 500+ feeders across 10 cities in India. Realising our potential, we started collaborating with Rotaracts and other college clubs, giving webinars about stray animal welfare in India and also working with prominent NGOs such as Zomato Feeding India and Awaaz. We started holding monthly food drives to help out our stray animals. while also helping in all other aspects of stray animal welfare.</p>
     <p>To date, we have distributed 1,00,000+ meals and 100s of kilograms of food. Along with our various partners, we have reflective-collared 350+ dogs throughout Mumbai, we have distributed 60+ cement water bowls in the hot summer of 2021, and we have sterilized and vaccinated 40+ dogs and cats. To check out everything we’re doing in real-time, and how we can help your stray animals, click here. To read a bit more about the inspiration behind Paws Hunger, click here.</p>
     <p> In short, we provide a platform for everyone to be able to give back to their stray best friends in a simple, time-saving way while getting recognized for it with certificates and more.</p>
      <p>We’re functional across India and would love to have you on board with us. Register with us and give back to society now!</p>

     </div>
     <div class="container-fluid">
      <img src="dog.png" alt="" class="responsive2">
     </div>

     
    </div>
    <div class="container-fluid">
        <hr style="margin-top: 4% !important;">

     <div class="container-fluid footer" >
      <img src="insta.png" alt=""  width="50px" style="margin-right: 3%;">
      <img src="fb.png" alt=""  width="40px">
     </div>
    </div>
   <!-- </script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>