
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <style media="screen">
      body{
        background-color:#F3E9DC;
        font-family: 'Poppins', sans-serif;
      }
      nav{
        background-color:#F3E9DC;

      }
      hr{
        padding: 0 !important;
        margin: 0 !important;
      }
      
   
   
.footer{
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.center {
    margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  margin-top: 15vh;
  

}
.form-control{
    width:85% !important;
    background-color: #F3E9DC !important;
    border: 1px solid black !important;
}

      

      </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="logo.png" alt="" width="50" height="50" class="d-inline-block align-text-top">

        </a>

        <a class="navbar-brand" href="#" style="font-family: 'Oleo Script', cursive;font-size: 1.8rem;">Paws Hunger</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left:20% !important;">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">I need you</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Find a Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Donate</a>
            </li>

          </ul>
          <form class="d-flex" role="search">

            <button class="btn btn-outline-success" type="submit">Volunteer</button>
          </form>
        </div>
      </div>
    </nav>
    <hr style="height:12px;">

    <div class="container ">
        <div class="row">
          <div class="col-sm-6">
            <h1 style="margin-top:7%;">Signup/Register</h1>
            <br>
            <form action="/userRegister" method="post">
        
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Name</label>
                  <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">email</label>
                  <input type="email" name="email" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Pincode</label>
                    <input type="number" name="pincode" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contact</label>
                    <input type="text" name="contact" class="form-control" id="exampleInputPassword1">
                  </div>
               
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
          
            <div class="vr" style="padding: 1px !important"></div>
          <div class="col-sm-1"></div>
         
          <div class="col-sm-4" class="center">
           <img class="center" src="pet.png" alt="" style="width: 110%">
          </div>
          
        </div>
      </div>

    
    
    
    
    
     
    </div>
    <div class="container-fluid">
        <hr style="margin-top: 4% !important;">

     <div class="container-fluid footer" >
      <img src="insta.png" alt=""  width="50px" style="margin-right: 3%;">
      <img src="fb.png" alt=""  width="40px">
     </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>